@font-face {
    font-family: "VikingFont";
    src: url("../font/viking.otf");
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url("../resources/old_paper.png");
    text-align: center;
    margin: 0;
}

footer {
    padding: 1%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #606060;
}

header {
    z-index: 999;
    position: relative;
    padding: 1em;
    display: flex;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    background-color: lightblue;
}

.header-side {
    width: 40%;
    vertical-align: center;
}

#right-side {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

#right-side > span {
    margin-left: 0.5em;
}

.header-logo {
    flex: 1;
}

.header-logo #logo-site {
    background-image: url("https://media.istockphoto.com/id/978727178/fr/vectoriel/vignette-horizontale-avec-une-rose-illustration-vectorielle.jpg?s=612x612&w=0&k=20&c=vNpMALxH97dXOnA9CqEkAstrQJTaeP4ZCycECtgfzvo=");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 6em;
    cursor: pointer;
}

/*Header buttons*/
#search-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#search-container form {
    transform: translate(0%);
    transition: all 1s, height 1s ease-in-out;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 25px;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    box-sizing: border-box;
    padding: 0 0 0 1em;
}

.searchform-displayed {
    transition: all 1s, height 0.1s ease-in-out !important;
    width: 20em !important;
    height: 45px !important;
    cursor: pointer !important;
}

.searchform-displayed input {
    display: block !important;
}

#search-input {
    width: 88%;
    height: 100%;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 2px;
}

#search-btn {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    top: 1%;
    bottom: 1%;
    right: 1%;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4em;
    transition: all 1s, background-color 0.4s;
}

#search-btn:hover {
    background: #6f63ec;
}

.nested-icon-btn {
    width: 40px;
    height: 40px;
    transition: transform .2s;
    user-select: none;
}

.icon-btn {
    background-color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    transition: transform .2s;
    user-select: none;
}

.icon-btn:hover, button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.material-symbols-outlined {
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icon-btn:active, .nested-icon-btn:active {
    transform: scale(0.9);
}

#settings-btn:active {
    transform: rotate(45deg)
}

/*Nav bar*/
#nav-container{
    width: 80%;
    margin: 4% 10% 4% 10%;
}

#menu{
    border-radius: 3px;
    border-bottom: solid 1px black;
    box-shadow: 2px 2px 8px black;
    background-image: url("https://media.istockphoto.com/id/621348814/fr/photo/papier-aquarelle-%C3%A0-texture-blanche.jpg?s=612x612&w=0&k=20&c=9qEgdmn_yB6wNRC-Gl2hubjqCBPBl-VKRwdY67p0ih8=");

}

#menu, #menu ul{
    padding: 0;
    text-align: center;
}

#menu li{
    display: inline-block;
    margin: 0 5%;
    position: relative;
    border-radius: 8px 8px;

}

#menu ul li{
    display: inherit;
    border-radius: 0;
    width: 100%;

}

#menu li:hover ul{
    max-height: 15em;
}

#menu ul{
    position: absolute;
    z-index: 1000;
    left: -50% ;
    width: 200%;
    max-height: 0;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 2px 2px 8px black;
    background-image: url("https://media.istockphoto.com/id/621348814/fr/photo/papier-aquarelle-%C3%A0-texture-blanche.jpg?s=612x612&w=0&k=20&c=9qEgdmn_yB6wNRC-Gl2hubjqCBPBl-VKRwdY67p0ih8=");
    transition: .3s all .0s;
}

#menu a{
    text-decoration: none;
    display: block;
    padding: 8px 32px;
}

#menu ul a{
    padding: 8px 0;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/*Parallax effect*/
.parallax-main {
    perspective: 4px;
    height: 100vh;
    overflow-x: hidden;
}

.parallax-layer1 {
    transform: scale3d(1.2, 1.2, 1.2) translateZ(-1px);
    z-index: 0;
}

.parallax-layer2 {
    transform: translateZ(-2px);
    z-index: 1;
}

.parallax-layer3 {
    transform: scale3d(4, 4, 4) translateZ(-3px);
    z-index: -1;
}

/*Main page*/
.main-container {
    z-index: 0;
    padding: 0 10%;
    margin-top: 4%;
}

.mt-main {
    margin-top: 8% !important;
}

#rosecrown-mascot-img {
    height: 40em;
    position: absolute;
    right: -28em;
    top: 70%;
}

#forest-img {
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: -100%;
}

.content-section {
    background-color: white;
    padding: 2% 5% 5% 5%;
    margin-bottom: 10%;
    margin-top: 4%;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
}

/*Order page*/
.ticket-type-selection {
    transition: all 0.4s ease-in;
    display: flex;
    height: 25em;
    align-items: center;
    justify-content: center;
    padding: 1.2em;
}

form[name="order-form"] .content-section {
    transition: all 0.5s ease-out;
    transform: translateY(0);
    height: fit-content;
    opacity: 1;
    display: block;
}

form[name="order-form"] .hidden {
    transform: translateY(300%);
    height: 0;
    opacity: 0;
    display: none;
}

.card {
    position: relative;
    width: 25%;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 1.5rem;
}

.card:hover {
    transform: scale(1.05);
}

.ticket-type-selection .card:nth-child(2) {
    margin: 0 5%;
}

.card-img {
    display: block !important;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.card-body {
    position: absolute;
    padding: 5%;
    bottom: 7%;
    left: 10%;
    right: 10%;
    color: white;
}

.card-title {
    font-weight: bold;
    font-size: large;
    margin: 1em 0;
}

.card-text {
    margin: 0;
}

.date-input-div {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #6f63ec;
    color: white;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    border-radius: 1.5em;
    border: none;
}

.date-input-div * {
    cursor: pointer;
}

.date-input-sub-div {
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    padding: 1em 1.3em 1.3em 1.3em;
}

.date-input-sub-div label {
    user-select: none;
    color: #d0d0d0;
    transition: all 0.2s;
    transform: translateX(-15%);
}

.date-input-sub-div:has(input:disabled) label {
    transform: scale(0.9);
    color: white;
    opacity: 40%;
}

.date-input-sub-div:not(:has(input:disabled)):has(input:focus) label {
    transform: translateX(0) scale(1.1);
    color: white;
}

.date-input-sub-div:has(input:disabled) {
    border-radius: 0 1.5em 1.5em 0;
    color: rgba(211, 211, 211, 0.5) !important;
    background-color: rgba(172, 71, 204, 0.5);
}

.date-input-sub-div:not(:has(input:disabled)):hover {
     background-color: #5d50ee;
}

.date-input-sub-div:not(:has(input:disabled)):has(input:focus) {
    background-color: #5d50ee;
}

.date-input-div span {
    display: inline-block;
    background-color: white;
    width: 1px;
    height: 4em;
    margin: 0.5em;
}

.date-input-div input {
    transition: all 0.4s;
    width: 10em;
    height: 2.5em;
    color: white;
    background-color: transparent;
    font-size: large;
    text-align: center;
    outline: none;
    border: none;
    margin-top: 0.5em;
    user-select: none;
}

.date-input-div input:disabled {
    color: rgba(211, 211, 211, 0.5) !important;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    transition: all 0.3s, padding 0.1s, margin 0.1s;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.1em;
}

::-webkit-calendar-picker-indicator:hover {
    padding: 0.6em;
    margin: 0;
    cursor: pointer;
}

/*------------------------------------VIKING-----------------------------*/
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Styles de base */
  .viking-header {
    background-color: #333;
    height: 3rem;
  }
  .viking-nav {
    height: 100%;
  }
  .viking-nav ul {
    list-style: none;
    display: flex;
    height: 100%;
  }
  .viking-nav ul li {
    position: relative;
    flex: 1;
  }
  .viking-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    height: 100%;
    padding: 0 1rem;
  }
  /* Styles des sous-menus */
  .viking-nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #555;
    border-radius: 4px;
    padding: 0.5rem 0;
    width: 100%;
  }
  .viking-nav ul li:hover > ul {
    display: flex;
    flex-direction: column;
  }
  .viking-nav ul ul li {
    position: relative;
  }
  .viking-nav ul ul li a {
    padding: 0.5rem 1rem;
    color: #fff;
  }
  /* Styles pour les éléments avec des sous-menus */
  .has-children > a::after {
    content: "▼";
    margin-left: 0.5rem;
  }
  .has-children:hover > a::after {
    content: "▲";
  }

  /*------------------------------------Attraction-Générale-----------------------------*/
  .Titre_attraction_gen{
      font-family: VikingFont, serif;
  }

  /*------------------------------------NightShow---------------------------------------*/

.content-section-nightshow {
    background-image: url("https://media.istockphoto.com/id/621348814/fr/photo/papier-aquarelle-%C3%A0-texture-blanche.jpg?s=612x612&w=0&k=20&c=9qEgdmn_yB6wNRC-Gl2hubjqCBPBl-VKRwdY67p0ih8=");
    padding: 2% 5% 5% 5%;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    margin-top: 20%;
    margin-bottom: 15%;
}

#shadowsofbritannia{
    font-size: 45px;
    font-weight: bold;
}

#presentation-nighshow{
    column-count: 2;
    margin: auto;
}

.nightshow-button{
    width: 150px;
    height: 150px;
    margin: 10px;
    font-size: 15px;
    background-image: url("https://media.istockphoto.com/id/621348814/fr/photo/papier-aquarelle-%C3%A0-texture-blanche.jpg?s=612x612&w=0&k=20&c=9qEgdmn_yB6wNRC-Gl2hubjqCBPBl-VKRwdY67p0ih8=");
    box-shadow: 2px 2px 8px black;
}

.nav-nightshow{
    margin: 10%;
    border: black 1px solid;
    box-shadow: 2px 2px 8px black;
    list-style: none;
}

.navbar-nightshow li{
    display: inline-block;
    margin: 2% 5%;
    font-size: 20px;
}

.nightshow-summary1{
    column-count: 2;
}

.nightshow-summary1 .text-nightshow-summary1{
    margin: auto;
}

.content-section-comments {
    background-image: url("https://media.istockphoto.com/id/621348814/fr/photo/papier-aquarelle-%C3%A0-texture-blanche.jpg?s=612x612&w=0&k=20&c=9qEgdmn_yB6wNRC-Gl2hubjqCBPBl-VKRwdY67p0ih8=");
    padding: 2% 5% 5% 5%;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
}

  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
    text-align: center;
  }
  
  .mySlides img {
    max-width: 100%;
    height: auto;
  }
  
  .prev, .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 16px;
    margin-top: -22px;
    border-radius: 0 3px 3px 0;
    color: white;
    cursor: pointer;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

  /*----------------Vintage Village--------------------*/
.romanVillage{ grid-area: romanvillage}
.vikingVillage{ grid-area: vikingVillage}
.medievalVillage{ grid-area: medievalVillage}
.XIXCenturiesVillage{ grid-area: XIXCenturiesVillage}
.text{grid-area: textdescription}
.form{grid-area: form}

.carousel-workshop-img{
    border: 1px solid black;
    box-shadow: 2px 2px 8px black;
}

.romanVillage, .vikingVillage, .medievalVillage, .XIXCenturiesVillage{
    position: relative;
}

.image-overlay{
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: height 0.5s ease;
}

.romanVillage:hover .image-overlay, .vikingVillage:hover .image-overlay, .medievalVillage:hover .image-overlay, .XIXCenturiesVillage:hover .image-overlay{
    height: 50%;
}

.image-overlay p{
    color: white;
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 24px;
}


.romanVillage img{
    max-width: 90%;
    height: auto;
}

.vikingVillage img, .medievalVillage img, .XIXCenturiesVillage img{
    max-width: 90%;
    height: auto;
}




#village{
    display: grid;
    grid-template-areas:
       '. . . vikingVillage'
       'romanvillage romanvillage romanvillage .'
       'romanvillage romanvillage romanvillage XIXCenturiesVillage'
       'romanvillage romanvillage romanvillage .'
       'textdescription textdescription textdescription medievalVillage '
       'textdescription textdescription textdescription form'  ;
    grid-template-columns: repeat(4, 1fr); /* adjust number of columns */
    gap: 10px;
}
  