@font-face {
    font-family: "VikingFont";
    src: url("../font/viking.otf");
}

body {
    height: 100vh;
    overflow-x: hidden;
    background-image: url("../resources/old_paper.png");
    text-align: center;
    margin: 0;
}

#root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    background-image: url("https://cdn.shopify.com/s/files/1/1987/4943/products/21310-02_480x480@2x.jpg?v=1599226402");
}

button:not(:disabled) {
    cursor: pointer;
}

footer {
    color: white;
    padding: 1%;
    background-color: black;
    opacity: 60%;
}

footer a {
    color: white;
    text-decoration: none;

}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #606060;
}

header {
    z-index: 999;
    position: relative;
    padding: 0.3em 1em;
    display: flex;
    background-color: #fff;
}

.header-side {
    width: 40%;
    vertical-align: center;
}

#right-side {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

#right-side > span {
    margin-left: 0.5em;
}

.header-logo {
    flex: 1;
}

.header-logo #logo-site {
    background-image: url("https://media.istockphoto.com/id/978727178/fr/vectoriel/vignette-horizontale-avec-une-rose-illustration-vectorielle.jpg?s=612x612&w=0&k=20&c=vNpMALxH97dXOnA9CqEkAstrQJTaeP4ZCycECtgfzvo=");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 5em;
    cursor: pointer;
}

/*Header buttons*/
#search-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

#search-container form {
    transform: translate(0%);
    transition: all 1s, height 1s ease-in-out;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 25px;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    box-sizing: border-box;
    padding: 0 0 0 1em;
}

.searchform-displayed {
    transition: all 1s, height 0.1s ease-in-out !important;
    width: 12em !important;
    height: 45px !important;
    cursor: pointer !important;
}

.searchform-displayed input {
    display: block !important;
}

#search-input {
    width: 88%;
    height: 100%;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 2px;
}

#search-btn {
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    margin: auto;
    top: 1%;
    bottom: 1%;
    right: 1%;
    border-radius: 50%;
    text-align: center;
    font-size: 1.4em;
    transition: all 1s, background-color 0.4s;
}

#search-btn:hover {
    background: #6f63ec;
}

.nested-icon-btn {
    width: 40px;
    height: 40px;
    transition: transform .2s;
    user-select: none;
}

.icon-btn {
    background-color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    transition: transform .2s;
    user-select: none;
}

.icon-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.material-symbols-outlined {
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.icon-btn:active, .nested-icon-btn:active {
    transform: scale(0.9);
}

#settings-btn:active {
    transform: rotate(45deg)
}

#cart-btn {

}

.account-btn {
    position: relative;
    margin-left: 1em;
}

#account-btn-popup {
    transition: all 0.3s;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: -0.7em;
    top: 2.7em;
    width: 10em;
    height: fit-content;
    transform-origin: bottom center;
    background-color: #a29afc;
    border-radius: 1em;
    padding: 1em 0;
    margin-top: 0.5em;
    opacity: 1;
    -webkit-filter: drop-shadow(2px 2px 4px rgb(26,26,25));
    filter : drop-shadow(2px 2px 4px rgb(26,26,25));
}

#account-btn-popup.hidden {
    transition: all 0.3s;
    visibility: hidden;
    opacity: 0;
}

#account-btn-popup div {
    width: 100%;
}

#account-btn-popup div::before {
    content: '';
    position: absolute;
    right: 1.1em;
    top: -0.9em;
    opacity: 1;
    border-top: none;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #a29afc;
}

#account-btn-popup .popup-button {
    cursor: pointer;
    width: 100%;
    padding: 1em;
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: none;
    border-right: none;
    border-left: none;
}

#account-btn-popup .popup-button:hover {
    background-color: lightgrey;
}

#account-btn-popup .logout-btn {
    background-color: #ff4444;
}

/*------------------------------------- MENU -------------------------------------------------*/
nav{
    background-color: #fff;
    border-bottom: black 1px solid;
}

nav h1{
    font-family: 'Castoro Titling', cursive;
    font-size: 1.5em;
    cursor: pointer;
}

nav ul{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    display: block;
    transition: all .3s;
    font-family: 'Castoro Titling', cursive;
    padding: 0 5px;

}

nav ul li a:hover{
    transform: scale(1.2);
}

.shadowsOfBritannia{
    grid-area: shadows;
}

.vintagesVillage{
    grid-area: village;
}

.attractions{
    grid-area: attraction;
}

.parkWorkshop{
    grid-area: workshop;
}

nav ul li:hover > .parkAndShows {
    display: grid;
    grid-template-areas:
    'attraction village shadows workshop';
    padding-bottom: 5px;
}

.cottage{
    grid-area: cottage;
}

.crownHotel{
    grid-area: hotel;
}
.hotelRestaurant{
    grid-area: hotelRestaurant;
}

nav ul li:hover > .accommodations{
    display: grid;
    grid-template-areas:
    'cottage hotelRestaurant hotel';
    padding-bottom: 5px;

}

.vintageRestaurant{
    grid-area: vintage;
}

.all{
    grid-area: allRestaurant;
}

nav ul li:hover > .restaurant{
    display: grid;
    grid-template-areas:
    'allRestaurant vintage';
    padding-bottom: 5px;
}

.prices{
    grid-area: prices;
}

.calendar{
    grid-area: calendar;
}

.reservation{
    grid-area: reservation;
}

nav ul li:hover > .information{
    display: grid;
    grid-template-areas:
    'calendar prices reservation';
    padding-bottom: 5px;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #fff;
    width: 50em;
    box-sizing: border-box;

    border-top: #fff 1px solid;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
    border-left: black 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

nav ul li:hover ul{
    max-height: 15em;
}

nav span{
    align-items: center;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: lightpink;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

#menu li:has(.hover-underline-animation):hover > .hover-underline-animation::after {
    transform: scaleX(1.15);
    transform-origin: bottom center;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom center;
}

/*Parallax effect*/
.parallax-main {
    perspective: 4px;
    overflow-x: hidden;
}

.parallax-layer1 {
    /*transform: scale3d(1.2, 1.2, 1.2) translateZ(-1px);*/
    z-index: 0;
}

.parallax-layer2 {
    /*transform: translateZ(-2px);*/
    z-index: 1;
}

.parallax-layer3 {
    /*transform: scale3d(4, 4, 4) translateZ(-3px);*/
    z-index: -1;
}

/* ============================== Main page ================================== */
.main-container {
    z-index: 0;
    padding: 0 10%;
    margin-top: 4%;
}

.mt-main {
    margin-top: 8% !important;
}

#rosecrown-mascot-img {
    height: 40em;
    position: absolute;
    right: -28em;
    top: 70%;
}

#forest-img {
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: -100%;
}

.content-section {
    background-color: rgba(255, 255, 255, 0.96);
    padding: 2% 5% 5% 5%;
    margin: 4% 10%;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);

}

/*============================= Order page =============================*/
.ticket-type-selection {
    transition: all 0.4s ease-in;
    display: flex;
    height: 25em;
    align-items: center;
    justify-content: center;
    padding: 1.2em;
}

form[name="order-form"] .content-section {
    transition: all 0.5s ease-out;
    transform: translateY(0);
    height: fit-content;
    opacity: 1;
    display: block;
}

form[name="order-form"] .form-step {
    position: relative;
    transition: max-height 1.5s, opacity 1s 0.1s, margin-top 1s;
    height: fit-content;
    max-height: 35em;
    opacity: 1;
    margin: 1em 1em 0 1em;
    padding: 0 1em 1em 1em;
}

form[name="order-form"] .form-step.hidden {
    transition: max-height 0.6s, opacity 0.3s, margin-top 0.5s, transform 0s 0.6s;
    max-height: 0 !important;
    opacity: 0 !important;
    margin: 0;
    padding: 0;
    transform: translateX(600%);
    visibility: hidden;
}

form[name="order-form"] .form-step::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    top: -0.5em;
    left: 0;
    right: 0;
    border-top: rgba(255, 182, 193, 0.5) 4px dotted;
    transform-origin: top center;
    transition: transform 0.3s 0.2s ease-out;
}

form[name="order-form"] .form-step.hidden::before {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    top: -0.5em;
    left: 0;
    right: 0;
    border-top: rgba(255, 182, 193, 0.5) 4px dotted;
    transform-origin: bottom center;
    transition: transform 0.25s ease-out;
}

form[name="order-form"] .form-step h3 {
    transition: all 0.5s;
}

form[name="order-form"] .form-step.hidden h3 {
    transition: all 0.5s;
    height: 0;
    padding: 0;
    margin: 0;
}

.card {
    position: relative;
    width: 25%;
    min-width: 10em;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 1.5rem;
    color: white;
}

.card:hover {
    transform: scale(1.05);
}

.card.selected {
    cursor: auto;
    transform: scale(1.075);
    color: black;
}

.ticket-type-selection .card:not(:first-child) {
    margin: 0 0 0 5%;
}

.card-img {
    display: block !important;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.card-body {
    position: absolute;
    padding: 5%;
    bottom: 7%;
    left: 10%;
    right: 10%;
}

.card-title {
    font-weight: bold;
    font-size: large;
    margin: 1em 0;
}

.card-text {
    margin: 0;
}

.date-input-div {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #6f63ec;
    color: white;
    box-shadow: 2px 2px 6px rgb(26,26,25);
    border-radius: 1.5em;
    border: none;
}

.date-input-div * {
    cursor: pointer;
}

.date-input-sub-div {
    transition: all 0.4s;
    display: flex;
    flex-direction: column;
    border-radius: 1.5em;
    padding: 1em 1.3em 1.3em 1.3em;
}

.date-input-sub-div label {
    user-select: none;
    color: #d0d0d0;
    transition: all 0.2s;
    transform: translateX(-15%);
}

.date-input-sub-div:has(input:disabled) label {
    transform: scale(0.9);
    color: white;
    opacity: 40%;
}

.date-input-sub-div:not(:has(input:disabled)):has(input:focus) label {
    transform: translateX(0) scale(1.1);
    color: white;
}

.date-input-sub-div:has(input:disabled) {
    border-radius: 0 1.5em 1.5em 0;
    color: rgba(211, 211, 211, 0.5) !important;
    background-color: rgba(172, 71, 204, 0.5);
}

.date-input-sub-div:not(:has(input:disabled)):hover {
     background-color: #5d50ee;
}

.date-input-sub-div:not(:has(input:disabled)):has(input:focus) {
    background-color: #5d50ee;
}

.date-input-div span {
    transition: all 0.2s;
    display: inline-block;
    background-color: white;
    width: 1px;
    height: 4em;
    margin: 0.5em;
}

.date-input-div input {
    transition: all 0.4s;
    width: 10em;
    height: 2.5em;
    color: white;
    background-color: transparent;
    font-size: large;
    text-align: center;
    outline: none;
    border: none;
    margin-top: 0.5em;
    user-select: none;
}

.date-input-div input:disabled {
    color: rgba(211, 211, 211, 0.5) !important;
}

::-webkit-calendar-picker-indicator {
    background-color: white;
    transition: all 0.3s, padding 0.1s, margin 0.1s;
    border-radius: 50%;
    padding: 0.5em;
    margin: 0.1em;
}

::-webkit-calendar-picker-indicator:hover {
    padding: 0.6em;
    margin: 0;
    cursor: pointer;
}

/*============================= BASKET =============================*/

.basket {
    position: relative;
    width: fit-content;
    background-color: #dedede;
    padding: 2em;
    margin-bottom: 1em;
    border-radius: 2em;
}

.basket .material-symbols-outlined {
    transition: all 0.2s;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

.basket .material-symbols-outlined:hover {
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1.1);
}

.basket .basket-items {
    width: fit-content;
    max-width: 20em;
    list-style: none;
    padding: 0;
    border-collapse: collapse;
}

.basket .basket-items #basket-total-row {
    border-top: 2px solid #bebebe;
}

.basket .basket-items td:first-child {
    text-align: start;
}

.basket .basket-items td:last-child {
    padding-left: 2em;
    text-align: end;
}

/*============================= ORDER SUMMARY =============================*/
.order-summary > .content-section {
    position: relative;
    transition: max-height 1.5s, opacity 1s 0.1s, margin-top 1s;
    height: fit-content;
    max-height: 35em;
    opacity: 1;
    margin: 1em 1em 0 1em;
    padding: 1em 1em 1em 1em;
}

.order-summary > .content-section div, .order-summary > .content-section h1 {
    transition: max-height 0.6s, opacity 0.3s, margin-top 0.5s, transform 0s 0.6s;
    max-height: 35em !important;
    opacity: 1;
}

.order-summary > .content-section.hidden {
    transition: max-height 0.6s, opacity 0.3s, margin-top 0.5s, transform 0s 0.6s;
    max-height: 0 !important;
    opacity: 0 !important;
    margin: 0;
    padding: 0;
    transform: translateX(600%);
    visibility: hidden;
}

.order-summary > .content-section.hidden div, .order-summary > .content-section.hidden h1 {
    transition: max-height 0.6s, opacity 0.3s, margin-top 0.5s, transform 0s 0.6s;
    max-height: 0 !important;
    opacity: 0 !important;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.user-details {
    display: flex;
}

.user-details .personnel-data-ticket {
    flex: 2
}

.user-details .basket {
    flex: 1
}

.summary-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

/*------------------------------------VIKING-----------------------------*/
.viking-content{
    text-align: center;
    font-size: large;
    background-color: #F5DEB3;
    padding: 2% 5% 5% 5%;
    margin-bottom: 1em;
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
}
.button-viking{
    background-color: #8B0000;
    color: #F5DEB3;
    font-family: VikingFont;
    font-size: 1.8rem;
    padding: 20px 40px;
    border: #222222;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000;
}
.perso-viking{
    padding-top: 2%;
    margin-right: 80%;

}
.viking-container h2{
    font-family: VikingFont;
}
.viking-container h1{
    font-family: VikingFont;
}
.button-attraction{
    background-color: #fff;
    padding: 0.5%;
    border: none;
    border-radius: 10px;
}

/*===================================== COTTAGE ======================================*/

.cottage-description{
    text-align: justify;
}

.cottage-container{
    ;
}

.cottage-container1 div, .cottage-container2 div{
    display: flex;
}
.cottage-img{
    margin: 1%;
}

.card-container-cottage{
    margin: auto;
}

.cottage-img img{
    width: 13em;
    height: auto;
}



/*------------------------------------ROMAN------------------------------*/
.roman-content{
    text-align: center;
    font-size: large;
    background-color: #F5DEB3;
    padding: 2% 5% 5% 5%;
    margin-bottom: 1em;
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
}
.button-roman{
    background-color: #B80F0A;
    color: #F5DEB3;
    font-family: "Times New RomanT";
    font-size: 1.8rem;
    padding: 20px 40px;
    border: #222222;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000;
}
.perso-roman{
    padding-top: 2%;
    margin-right: 80%;
}
.roman-container h1{
    font-family: "Times New Roman";
}
.roman-container h2{
    font-family: "Times New Roman";
}
/*----------------------------------ROBINHOOD------------------------------*/
.robinhood-content{
    text-align: center;
    font-size: large;
    background-color: #F5DEB3;
    padding: 2% 5% 5% 5%;
    margin-bottom: 1em;
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
}
.button-robinhood{
    background-color: #228B22;
    color: #F5DEB3;
    font-family: "Old English Text MT";
    font-size: 1.8rem;
    padding: 20px 40px;
    border: #222222;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000;
}
.perso-robinhood{
    padding-top: 2%;
    margin-right: 80%;
}
.robinhood-container h2{
    font-family: "Old English Text MT";
}
.robinhood-container h1{
    font-family: "Old English Text MT";
}
/*----------------------------------CENTURY-WAR------------------------------*/
.centurywar-content{
    text-align: center;
    font-size: large;
    background-color: #F5DEB3;
    padding: 2% 5% 5% 5%;
    margin-bottom: 1em;
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
}
.button-centurywar{
    background-color: darkblue;
    color: #ffffff;
    font-family: 'IM Fell English SC', serif;
    font-size: 1.8rem;
    padding: 20px 40px;
    border: #222222;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000;
}
.perso-centurywar{
    padding-top: 2%;
    margin-right: 80%;
}
.centurywar-container h2{
    font-family:  "Old English Text MT";
}
.centurywar-container h1{
    font-family:  "Old English Text MT";
}
/*----------------------------------TRAFALGAR------------------------------*/
.trafalgar-content{
    text-align: center;
    font-size: large;
    background-color: #F5DEB3;
    padding: 2% 5% 5% 5%;
    margin-bottom: 1em;
    margin-top: 4%;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);
}
.button-trafalgar{
    background-color: darkblue;
    color: #F5DEB3;
    font-family: "Bodoni MT";
    font-size: 1.8rem;
    padding: 20px 40px;
    border: #222222;
    border-radius: 20px;
    cursor: pointer;
    text-shadow: 2px 2px 2px #000;
}
.perso-trafalgar{
    padding-top: 2%;
    margin-right: 80%;
}
.trafalgar-container h2{
    font-family:  "Bodoni MT";
}
.trafalgar-container h1{
    font-family:  "Bodoni MT";
}
  /*------------------------------------Attraction-Générale-----------------------------*/
  .Titre_attraction_gen{
      font-family: VikingFont, serif;
  }

  .accordion{
      margin: 5% 10%;
  }


  /*----------------------------- Attraction page ----------------------------------------*/

.attraction-presentation-container{
    height: 100em;
}

.container-text-img-attraction{
    display: flex;
    margin: 4% 0;
}

.img-park{
    width: 45em;
    height: auto;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}


.text-description-park{
    margin: auto 5%;
}

.presentation-attraction{
    text-align: justify;
    margin: 5%;
}

.attraction-list{
    display: flex;
}

.attraction-img{
    width: 25em;
    height: auto;
}

.attraction-container-text{
    width: 100%;
    margin: auto;
}

.attraction-title{
    text-align: center;
}

.attraction-description{
    width: 15em;
    text-align: justify;
    margin: auto;
}

/*============== CALENDAR ===============*/

.calendar{
    margin: auto;
}

th{
    width: 15em;
}

.calendar tbody tr:nth-child(2n), th{
    background-color: lightpink;
}

.content-section .lehends{
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}

.indicator-container{
    margin: 2%;
    display: flex;
}

.years-war{
    background-color: #9a9afc;
    padding: 2%;
}

.year-war-lehend{
    background-color: #9a9afc;
}


.color-lehend{
    margin: auto;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 30px;
}

.viking-war{
    background-color: #f5f57f;
    padding: 2%;
}

.viking-lehend{
    background-color: #f5f57f;
}

.roman-lehend{
    background-color: #f597f5;
}

.roman-war{
    background-color: #f597f5;
    padding: 2%;
}

.robinhood-war{
    background-color: #66e766;
    padding: 2%;
}

.robinhood-lehend{
    background-color: #66e766;
}

.trafalgar-lehend{
    background-color: #fcc051;
    padding: 2%;
}

.trafalgar-war{
    background-color: #fcc051;
}


/*----------------------------- Privacy Policy page ----------------------------------------*/




.content-section-privacy-policy,.privacy-policy-txt {
    margin:2% 15%;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.96);
    padding: 2% 5% 5% 5%;
    margin-bottom: 1em;
    margin-top: 4%;
    border-radius: 3em;
    box-shadow: 2px 2px 6px rgb(26,26,25);

}
.PrivacyPolicyRule{
    padding-bottom: 10px;
}
.PrivacyPolicyRule1,.PrivacyPolicyRule2,.PrivacyPolicyRule3,.PrivacyPolicyRule4,.PrivacyPolicyRule5,.PrivacyPolicyRule6,.PrivacyPolicyRule7,.PrivacyPolicyRule8,.PrivacyPolicyRule9,.PrivacyPolicyRule10{
    padding-left: 3em;
    padding-bottom: 20px;

}
 /*------------------------------------About Us---------------------------------------*/
.container-text-img-aboutus-droite{
    display: flex;
    margin: 4% 0;
}
.container-text-img-aboutus-gauche{
    display: flex;
    margin: 4% 0;
}
.img-aboutus{
    width: 45em;
    height: auto;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
}
.text-description-aboutus{
    margin: auto 5%;
    text-align: justify;
    font-size: 1.25em;
    padding-left: 8em;
    padding-right: 8em;
}
.title-aboutus{
    font-size: 3em;
}
.image-gauche {
    position: absolute;
    bottom: 0;
    left: 0;
}
.image-droite {
    position: absolute;
    bottom: 0;
    right: 0;
}
/*------------------------------------Contact us---------------------------------------*/

.container-texte-contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.phone{
    grid-area: phone;
    width: 33%;
    margin: auto;
}
.publishing{
    grid-area: publishing;
    width: 33%;
    margin: auto;
}
.press{
    grid-area: press;
    width: 33%;
    margin: auto;

}
.liste-contactus{
    list-style-type:none;
}
/*------------------------------------Events---------------------------------------*/
.presentation-events{
    column-count: 2;
    margin: auto;
}
.title-events{
    text-align: center;
}
/*------------------------------------NightShow---------------------------------------*/

.nightshow {
    margin: 5% 10%;
}

#shadows-of-britannia{
    margin-bottom: 4%;
}

.nightshow-description{
    text-align: justify;
    margin: 10% 10% 0 0;
}

.presentation-nightshow{
    column-count: 2;
    margin: auto;
}

.pictogram{
    display: flex;
    width: 100%;
    margin: 7% 13% 0 7%;
}

.pictogram-container{
    margin: 0 3%;
}


.nav-nightshow{
    margin: 5%;
    border: black 1px solid;
    box-shadow: 2px 2px 8px black;
    list-style: none;

}

.navbar-nightshow li{
    display: inline-block;
    margin: 2% 5%;
    font-size: 20px;
}

.presentation{
    margin: 3% 3% 2% 3%;
    column-count: 2;
}

.appreciation{
    margin: 1% 20%;
}

.comment-section{
    margin: 3% 20%;
    column-count: 2;
    gap: 20%;
}

.comment{
    background-color: white;
    opacity: 96%;
    border-radius: 20px;
    padding: 6% 5%;
    margin: 1%;
}

.form-comments{
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 20em;
    height: 2em;
    margin: 1%;
}

.button-nightShow{
    background-color: #fff;
    padding: 0.5%;
    border: none;
    border-radius: 10px;
}

.card-tickets{
    position: relative;
    width: 100%;
    min-width: 10em;
    height: 100%;
    color: white;
}

.ticket-nightShow{
    margin: 2% 20%;
}

/*====================================== WORKSHOP =========================================*/

.work-shop{
    margin: 5% 10%;
}

.work-shop-text{
    margin: 1% 4% 3%;
    text-align: justify;
}

.printing{
    background-color: #9a9afc;
    padding: 2%;
}

.printing-lehend{
    background-color: #9a9afc;
}

.pottery{
    background-color: #f5f57f;
    padding: 2%;
}

.pottery-lehend{
    background-color: #f5f57f;
}

.carpenter{
    background-color: #f597f5;
    padding: 2%;
}

.carpenter-lehend {
    background-color: #f597f5;
}
.bakery{
    background-color: #66e766;
    padding: 2%;
}

.bakery-lehend {
    background-color: #66e766;
}

.blacksmith{
    background-color: #fcc051;
    padding: 2%;
}

.blacksmith-lehend{
    background-color: #fcc051;
}

/*===============================================================================*/
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
    text-align: center;
  }

  .mySlides img {
    max-width: 100%;
    height: auto;
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    font-size: 30px;
    font-weight: bold;
    padding: 16px;
    margin-top: -22px;
    border-radius: 0 3px 3px 0;
    color: white;
    cursor: pointer;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*----------------Vintage Village--------------------*/

.vintage-section{
    padding: 2% 7% 3% 7%;
    height: 62em;
}

.vintage-section p{
    font-size: 1.1em;
    text-align: justify;
}

.vintage-village-description h1{
    text-align: center;
}

.room-img .card{
    padding: 1%;
}

.room-description{
    margin: 10%;
}

.vintage-village-img{
    display: flex;
    margin: 2% 0;
    height: 15em;
}

.vintage-village-img .card{
    padding: 1%;
}

.vintage-village-description{
    margin: 10%;
}

/*================================== CROWN HOTEL ==========================================*/

.crown-hotel{
    padding: 2% 7% 3% 7%;
    height: 85em;
}

.crown-hotel p{
    font-size: 1.1em;
    text-align: justify;
}

.crown-hotel h1{
    text-align: center;
}

.room-img{
    display: flex;
    margin: 2% 0;
    height: 15em;
}



.container-crown-hotel-description{
    display: grid;
    grid-template-areas: 'text1 hotel';
}

.container-crown-hotel-text1{
    grid-area: text1;
    width: 80%;
    margin: 7% 0;
}

.hotel-img{
    width: 90%;
    height: auto;
    grid-area: hotel;
}

.container-crown-hotel-text2{
    width: 100%;
    margin: 5% 0;
}

.container-hotel-pictogram{
    text-align: center;
}

.hotel-pictogram{
    display: flex;
    justify-content: center;
}


.hotel-pictogram-container{
    margin: 2%;
}

.grand-hotel-prices{
    padding: 0 43%;
}
/*----------------Vintage Restaurant--------------------*/

.vintage-restaurants-description h1{
    text-align: center;
}

.vintage-restaurants-img{
    display: flex;
    margin: 2% 0;
    height: 15em;
}

.vintage-restaurants-img .card{
    padding: 1%;
}

.vintage-restaurants-description{
    margin: 10%;
}

/*=========================== Create Account =================================*/



.create-account-container{
    margin: 5% 25%;
}

.title-section{
    text-align: left;
}

.container-birthdate{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.day-container, .month-container, .year-container{
    margin: 1% 2%;
}

.data-selector{
    width: 10em;
    height: 3em;
    border-radius: 20px;
    outline: none;
    border: 2px solid lightpink;
    opacity: 96%;
    transition: border ease-in-out .3s;
    text-align: center;
}

.data-selector.invalid {
    background-color: #8b0000;
    color: white;
}

.data-selector.invalid::after {
    position: absolute;
    content: "✖";
    padding-left: 5px;
    color: #8b0000;
}

.name-container{
    display: flex;
    margin: 3%;
    justify-content: center;
}

.name-container-input{
    margin: 0 3%;
}

.email-container{
    margin: 5% 5% 0 5%;
}

.email-input{
    width: 15em;

}

.email-container-input{
    margin: 2%;
}

.password-data-container{
    display: flex;
    justify-content: center;
}

.password-container-input{
    margin: 0 3% 1%;
}

.checkbox-container{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.button {
    padding: 1em;
    border: none;
    border-radius: 20px;
    background-color: rgb(252, 212, 219);
    transition: all ease-in-out .3s;
}

.button:not(:disabled):hover{
    transition: all ease-in-out .2s;
    background-color: lightpink;
    transform: scale(1.05);
    cursor: pointer;
}

/*====================================== LOGIN ==================================*/

.error-message {
    color: red;
}

.log-in{
    margin: 5% 25%;
}

.log-in-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.log-in-item{
    margin: 0 3%;
}

.log-in-selector{
    width: 15em;
}


.log-in-button-container{
    margin: 2% 0 4%;
}

.log-in-button{
    width: 13em;
    margin: 3% 3% 0;
}

.create-account-login-button{
    width: 13em;
}

/*======================================= ACCOUNT =========================================*/
.data-account-container{
    display: flex;
}

.data-account-container hr{
    margin: 3em;
}

.account-data-container{
    flex: 1;
    width: 30em;
    margin: 4% 0;
}

.account-data{
    height: 3em;
}

.personnel-data-title{
    text-align: left;
}

.personnel-data-information{
    text-align: right;
    cursor: pointer;
}

.edit-data-button{
    width: 20em;
}

.reservation-container {
    width: 100%;
    box-sizing: border-box;
    background-color: #fae4e4;
    padding: 2%;
    margin: 3em 0;
    border-radius: 2em;
}

.reservation-in-coming h2{
    text-align: left;
    margin-left: 1em;
    padding-bottom: 0;
}

.reservation-container p {
    margin: auto;
    padding: 2em;
}

.reservation-table{
    margin: auto;
}

.account-reservation{
    width: 20em;
}

.unsubscription-newsletter{
    margin: 10% auto 0;
}

/*--------------------------------------offers-----------------------------------*/
.offer {
    margin-bottom: 2%;
}

.offer-image {
    width: 70%;
    height: 70%;
    border-radius: 10%;
    margin-right: 20px;

}

/*---------------------------------------------*/
.map{
    width: 100%;
}

/* ======================================= Not Found ======================================= */
.not-found-img {
    height: 30vh;
    width: auto;
}
